@charset "UTF-8";
/*Estilo general*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

/*iconos faq - boton ingresar*/
.preguntasFrecuentes svg, .boton-ingresar {
  margin-right: 8px; }

/*h1 h2*/
.fuente-principal, .fuente-secundaria {
  text-align: center;
  margin: 15px; }

/*guía de talles*/
.table {
  border: #e11444;
  border-style: dashed;
  width: 31rem;
  align-items: center;
  text-align: center;
  margin: auto; }

/*Extends*/
.rrss-tiktok, .rrss-facebook, .rrss-instagram, .mail-icon, .whatsapp-icon, .faq-icon {
  width: 19px;
  height: 19px;
  fill: white;
  filter: brightness(200%); }

.rrss-facebook {
  fill: #303097; }

.rrss-instagram {
  fill: #b6213a; }

.mail-icon {
  fill: white; }

.whatsapp-icon {
  fill: #1b7b16; }

.faq-icon {
  fill: #e11444; }

/*Mixins*/
.mediosDePago {
  width: 280px;
  height: 140px; }

.mediosDeEnvio {
  width: 280px;
  height: 150px; }

/*Anidamiento*/
nav {
  background-color: #0e0f19; }
  nav .transicion {
    transition: width 1s; }
    nav .transicion:hover {
      width: 290px; }
  nav .nav-item {
    text-align: center; }
  nav .boton-logo {
    background-color: #e11444; }
  nav li {
    color: #fffdfd; }
  nav div .cart {
    margin-right: 10px;
    margin-top: 10px;
    width: 22px;
    height: 22px; }
  nav .btn-dark {
    background: none; }

main {
  background-color: #fffdfd;
  /*sección productos*/
  /*--contacto--*/
  /*FAQ y guía de talles - boton menu*/ }
  main h1 {
    text-align: center;
    margin: 15px; }
  main .imagenRemeraDonRamon {
    margin-bottom: 30px;
    border: 3px outset #e11444;
    border-radius: 0.25rem; }
  main .input-text {
    text-align: center;
    width: 83px; }
  main .espacio-input {
    margin: 8px;
    margin-top: 6px; }
  main .botonCompra {
    margin-top: 10px;
    margin-bottom: 25px; }
  main .input-flex {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px; }
  main .formularioContacto, main .formularioContacto input, main .formularioContacto h2 {
    text-align: center;
    margin: 10px; }
  main .preguntasFrecuentes {
    text-align: center;
    margin: 20px; }
  main .preguntasFrecuentes li {
    list-style: none; }
  main .preguntasFrecuentes div {
    margin-top: 20px;
    text-align: center;
    align-items: center; }

footer {
  background-color: #0e0f19;
  color: aliceblue;
  /*h5*/ }
  footer a {
    color: aliceblue; }
  footer .copy {
    background-color: #e11444;
    text-align: left;
    grid-area: copy;
    padding: 4px;
    color: #0e0f19; }
  footer .fuente-conectados {
    margin-top: 15px; }
  footer div .padre-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px; }
  footer div .padre-flex svg {
    margin: 10px; }

/*RESPONSIVE*/
/*SMARTPHONE*/
@media (max-width: 576px) {
  /*nav*/
  .nav-link {
    font-size: medium;
    margin: 1px; }
  /*main*/
  .col {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
    align-items: center;
    text-align: center; }
  .card {
    width: 18rem;
    margin-bottom: 30px; }
  /*guia de talles*/
  .table {
    width: 15rem; }
  /*productos*/
  .productos-padre-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .imagenRemeraDonRamon {
    margin: 10px; }
  /*footer*/
  .copy {
    padding: 8px;
    text-align: left;
    grid-area: copy; }
  footer .btn {
    margin-bottom: 20px; } }

/*TABLET*/
@media (min-width: 577px) {
  /*nav*/
  .nav-link {
    margin: 1px; }
  /*main*/
  .card {
    width: 20rem; }
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    text-align: center; }
  /*productos*/
  .productos-padre-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px; }
  .imagenRemeraDonRamon {
    margin-right: 20px; } }

/*DESKTOP*/
@media (min-width: 992px) {
  /*nav*/
  .menu-centrado {
    margin: auto;
    text-align: center; }
  .nav-item {
    padding: 10px; }
  /*main*/
  .row-desktop {
    width: 992px; }
  .card {
    width: 14rem;
    height: 17rem; }
  .container-fluid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center; }
  /*productos*/
  .productos-padre-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  .imagenRemeraDonRamon {
    margin-right: 50px; }
  /*footer*/
  .mediosDePago {
    width: 270px;
    height: 120px;
    margin-top: 18px; }
  .mediosDeEnvio {
    margin-top: 10px;
    width: 155px;
    height: 130px; } }
