/*RESPONSIVE*/
/*SMARTPHONE*/
@media (max-width:576px){
    /*nav*/
    .nav-link{
        font-size: small;
        margin: 1px;    
    }
    /*main*/
    .col{
        display: flex;
        flex-direction: column;
        margin-left: 35px;
        margin-right: 35px;
        align-items: center;
        text-align: center;
    }

    .card{
        width: 18rem;
        margin-bottom: 30px;  
    }

    /*guia de talles*/
    .table{
        width: 15rem;
    }

    /*productos*/
    .productos-padre-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imagenRemeraDonRamon {
        margin: 10px;
    }

    /*footer*/
    .copy{
        padding: 8px;
        text-align: left;
        grid-area: copy;
    }

    footer .btn{
        margin-bottom: 20px;
    }
}

/*TABLET*/
@media (min-width: 577px){
    /*nav*/
    .nav-link{
        margin: 1px;    
    }

    /*main*/
    .card{
        width: 20rem;
    }

    .col{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
        text-align: center;
    }

    /*productos*/
        .productos-padre-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-left: 20px;
        margin-right: 20px;
    }

    .imagenRemeraDonRamon {
        margin-right: 20px;
    }
}

/*DESKTOP*/
@media (min-width: 992px){
    /*nav*/
    .menu-centrado{
        margin: auto;
        text-align: center;
    }

    .nav-item{
        padding: 10px;
    }

    /*main*/
    .row-desktop{
        width: 992px;
    }

    .card{
        width: 14rem;
        height: 17rem;
    }

    .container-fluid{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        text-align: center;
    }

    /*productos*/
    .productos-padre-flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .imagenRemeraDonRamon {
        margin-right: 50px;
    }

    /*footer*/
    .mediosDePago{
        width: 270px;
        height: 120px;
        margin-top: 18px;  
    }

    .mediosDeEnvio{
        margin-top: 10px;
        width: 155px;
        height: 130px;  
    }
}