/*RESPONSIVE*/
/*SMARTPHONE*/
@media (max-width:576px){
    /*--main--*/
    div .col{
        display: flex;
        flex-direction: column;
        margin-left: 35px;
        margin-right: 35px;
        align-items: center;
        text-align: center;
    }

    .nav-link{
        font-size: small;
        margin: 1px;    
    }
    .card{
        width: 18rem;
    margin-bottom: 30px;
       
    }

    /*paginas productos-faq-contacto-guia de talles*/
    .portadaUno{
        background-image: url(../../assets/carousel1.jpg);
        background-size: cover;
        background-position: center;
        height: 20vh;
        text-align: center;
    }

    .portadaDos{
        background-image: url(../../assets/carousel2.jpg);
        background-size: cover;
        background-position: center;
        height: 20vh;
        text-align: center;
    }

    .portadaTres{
        background-image: url(../../assets/carousel3.jpg);
        background-size: cover;
        background-position: center;
        height: 20vh;
        text-align: center;
    }

    /*guia de talles*/
    .table{
        width: 250px;
    }

    /*productos*/
    .productos-padre-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    /*footer*/
    .copy{
        padding: 8px;
        text-align: left;
        grid-area: copy;
    }

    footer .btn{
        margin-bottom: 20px;
    }
    /*.mediosDePago{
       /* width: 280px;
        margin-top: 10px;
        align-items: center;
        filter: brightness(100%);
        height: 130px;
    }   

    .mediosDeEnvio{
        width: 280px;
     height: 150px;
    }*/

}


/*TABLET*/
@media (min-width: 577px){
    /*nav*/
    .nav-link{
        margin: 1px;    
    }

    /*--main--*/
    .card{
        width: 20rem;
    }
        div .col{
        display: flex;
        flex-direction: column;
        /*margin: 15px;*/
        align-items: center;
        margin-bottom: 25px;
        text-align: center;
    }

    /*productos*/
        .productos-padre-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 110px;
    }

    /*paginas productos-faq-contacto-guia de talles*/
    .portadaUno{
        background-image: url(../../assets/carousel1.jpg);
        background-size: cover;
        background-position: center;
        height: 30vh;
        text-align: center;
    }

    .portadaDos{
        background-image: url(../../assets/carousel2.jpg);
        background-size: cover;
        background-position: center;
        height: 30vh;
        text-align: center;
    }

    .portadaTres{
        background-image: url(../../assets/carousel3.jpg);
        background-size: cover;
        background-position: center;
        height: 30vh;
        text-align: center;
    }
}

/*DESKTOP*/
@media (min-width: 992px){

    .row-desktop{
        width: 992px;
    }

    .card{
        width: 14rem;
        height: 17rem;
    }
    .container-fluid{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        text-align: center;
        /*margin: 20px;*/
    }

   
    /*paginas productos-faq-contacto-guia de talles*/
    .portadaUno{
        background-image: url(../../assets/carousel1.jpg);
        background-size: cover;
        background-position: center;
        height: 60vh;
        text-align: center;
    }

    .portadaDos{
        background-image: url(../../assets/carousel2.jpg);
        background-size: cover;
        background-position: center;
        height: 60vh;
        text-align: center;
    }

    .portadaTres{
        background-image: url(../../assets/carousel3.jpg);
        background-size: cover;
        background-position: center;
        height: 60vh;
        text-align: center;
    } 

    /*productos*/
    .productos-padre-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-centrado{
        margin: auto;
        text-align: center;
    }

    .nav-item{
        padding: 10px;
    }

    /*footer*/
    .mediosDePago{
        width: 270px;
        height: 120px;
        margin-top: 18px;  
    }

    .mediosDeEnvio{
        margin-top: 10px;
        width: 155px;
        height: 130px;  
    }
}